<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender (en texto, nivel INFO+) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                {
                "correlationId": "%X{X-Correlation-ID}",
                "timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS}",
                "level": "%level",
                "thread": "%thread",
                "logger": "%logger",
                "message": "%message"
                }
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
    </appender>
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>TS=%X{TS} [%X{THREAD}] APP=%X{APP} LEVEL=%-5level CLASS=%X{CLASS} TRACEID=%X{TRACEID} | %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- Rolling File Appender (logs locales en JSON) -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH:-/app/logs}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/app/logs}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                {
                "correlationId": "%X{X-Correlation-ID}",
                "timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS}",
                "level": "%level",
                "thread": "%thread",
                "logger": "%logger",
                "message": "%message"
                }
            </pattern>
        </encoder>
    </appender>

    <!-- Loki Appender (usando loki4j, en JSON) -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">

        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>

        <format>
            <label>
                <pattern>
                    app = MessageUcoLab,
                    environment = dev,
                    sessionId = %X{JSESSIONID},
                    httpMethod    = %X{HTTP_METHOD},
                    requestUri    = %X{REQUEST_URI},
                    correlationId = %X{X-Correlation-ID}
                </pattern>
                <structuredMetadataPattern>
                    level = %level,
                    thread = %thread,
                    logger = %logger,
                    queryString   = %X{QUERY_STRING},
                    codeMessage   = %X{codeMessage},
                    application   = %X{application},
                    timestamp     = %date{yyyy-MM-dd'T'HH:mm:ss.SSS}
                </structuredMetadataPattern>
            </label>

            <message>
                <pattern>%msg</pattern>
            </message>
        </format>

    </appender>


    <!-- Logger para MongoDB Driver (solo ERROR en consola y archivo, Loki también si quieres) -->
    <logger name="org.mongodb.driver" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
        <appender-ref ref="LOKI" />
    </logger>

    <!-- Logger general -->
    <logger name="me.mourjo" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="LOKI"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
